body, html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
	background-image: url(../images/henu-logo.jpg);
	background-attachment:fixed;
	background-size:  contain;
	background-repeat: no-repeat;
	background-position:  center;
	font-family: 文泉驿微米黑, 微软雅黑,  monospace;
	color: #000;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
}
.login-form{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.intro {
	margin: auto;
	margin-top: 10%;
	padding: 0 20px;
	width: 100%;
	text-align: center;
}
h1 {
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
	letter-spacing: 0.015em;
}
h1::after {
	content: ' ';
	width: 0;
	display: block;
	height: 10px;
	margin: 30px auto;
}
p {
	margin: 0 0 30px 0;
	font-size: 24px;
}
button{
	border: none;
	border-radius: none;
}
.btn-o {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid wheat;
	text-transform: uppercase;
	letter-spacing: 0.015em;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.btn-o:hover {
	color: #337ab7;
	border: 2px solid gray;
	text-decoration: none;
}
 .btn-login{
	background-color: transparent;
	display: block;
 	padding: 15px 30px;
 	border-bottom: 2px solid #fff;
 	text-transform: uppercase;
 	letter-spacing: 0.015em;
 	font-size: 18px;
 	font-weight: 700;
 	line-height: 1;
	margin: auto;
 	margin-top:5%;
 	color: gray;
 	text-decoration: none;
	text-align: center;
 	-webkit-transition: all 0.4s;
 	-moz-transition: all 0.4s;
 	-o-transition: all 0.4s;
 	transition: all 0.4s;
 }
 .btn-login:hover {
 	color: #000;
 	border-bottom: 2px solid orange;
 	text-decoration: none;
 }
 footer{
	 margin-top: 5%;
 }
/*重置超链接样式*/
a:focus {
	outline:none;
}
a:active,a:hover {
	outline:none;
}
/*媒体控制*/
@media only screen and (max-width: 1500px) {
	h1 {
		font-size: 70px;
	}
}
@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 60px;
	}
}
@media only screen and (max-width: 700px) {
	h1 {
		font-size: 48px;
	}
	h1::after {
		height: 8px;
	}
}
@media only screen and (max-width: 568px) {
	.intro {
		padding: 0 10px;
	}
	h1 {
		font-size: 30px;
	}
	h1::after {
		height: 6px;
	}
	p {
		font-size: 18px;
	}
	.btn-o {
		font-size: 16px;
	}
}
@media only screen and (max-width: 320px) {
	h1 {
		font-size: 28px;
	}
	h1::after {
		height: 4px;
	}
}
