<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
    <!-- 配置需要拦截的 URL, 以及访问这些 URL 需要具备哪些权限 -->
    <sec:http use-expressions="true">
        <sec:intercept-url pattern="/student" access="hasRole('ROLE_STUDENT')"/>
        <sec:intercept-url pattern="/student/**" access="hasRole('ROLE_STUDENT')"/>
        <sec:intercept-url pattern="/teacherIndex" access="hasRole('ROLE_TEACHER')"/>
        <sec:intercept-url pattern="/teacher/**" access="hasRole('ROLE_TEACHER')"/>
        <sec:intercept-url pattern="/acdemic" access="hasRole('ROLE_ACDEMIC')"/>
        <!--<sec:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>-->
        <sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <sec:intercept-url pattern="/dean" access="hasRole('ROLE_DEAN')"/>
        <sec:intercept-url pattern="/dean/**" access="hasRole('ROLE_DEAN')"/> 
        <sec:intercept-url pattern="/file/homework/**" access="hasRole('ROLE_ACDEMIC') or hasRole('ROLE_COUNSELLOR') or hasRole('ROLE_DEAN') or hasRole('ROLE_TEACHER') or hasRole('ROLE_TUTOR') or hasRole('ROLE_ADMIN')"/>                             
        <sec:logout logout-url="/logout" logout-success-url="/login"  invalidate-session="true" />
        <sec:form-login login-page="/login" authentication-failure-url="/login"/>
    </sec:http>

    <bean id="userDetailsService" class="cn.edu.henu.rjxy.lms.impl.UserDetailsServiceImpl"></bean>
    <sec:authentication-manager alias="myAuthenticationManager">
        <sec:authentication-provider user-service-ref="userDetailsService">
        </sec:authentication-provider>
    </sec:authentication-manager>	
</beans>