<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cs?zeroDateTimeBehavior=convertToNull</property>
    <property name="connection.characterEncoding">utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hbm2ddl.auto">update</property>
    <!--连接池设置-->
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.min_size">10</property>
    <property name="hibernate.c3p0.timeout">120</property>
    <!--当连接池链接耗尽时，每次增量-->
    <property name="hibernate.c3p0.acquire_increment">3</property>
    <!--多久检查一次，秒为单位-->
    <property name="hibernate.c3p0.idle_test_period">120</property>
    <!--<property  name = "hibernate.current_session_context_class">thread</property>-->
    <mapping resource="cn/edu/henu/rjxy/lms/model/Teacher.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/Student.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/Classes.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TempStudent.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TempTeacher.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/Course.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TermOpenCourse.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TermCourse.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TermClass.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/CourseMaster.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/StudentSelectCourse.hbm.xml"/>
    <mapping resource="cn/edu/henu/rjxy/lms/model/TermCourseInfo.hbm.xml"/>
    <mapping class="cn.edu.henu.rjxy.lms.model.KeyValue"/>
  </session-factory>
</hibernate-configuration>
